@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --cust-background: #ff0000;

    --orange: #EC7823;
    --dark-orange:#A44923;
    --dark-green:#22383D;
    --dark-grey:#6E6E6E;
    --light-grey:#F4F7FE;

  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --cust-background: #48ff00;
    --orange: #EC7823;
    --dark-orange:#A44923;
    --dark-green:#ffffff;
    --dark-grey:#6E6E6E;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark\:focus-visible\:ring-0:focus-visible:is(.dark *) {
    box-shadow: none!important;
}

.menu button:first-child{ padding-right: 0; border-right: 0; }
.menu button.active{ background-color: transparent;  margin: 0;  color: var(--orange); }
.logo img{  transition: width 0.3s ease-in-out; }
.sticky-menu .logo img{ width: 120px; transition: width 0.3s ease-in-out; }

.menu button.cta-button{ padding: 10px 20px; padding-right: 7px; border: solid 2px var(--dark-green); font-size: 16px; font-weight: 600;}


.herobanner:after {
    position: absolute;
    content: "";
    top: auto;
    left: -1px;
    right: 0;
    bottom: -65px;
    background-color: rgb(255 255 255);
    width: 106%;
    height: 104px;
    transform: rotate(358deg);
}

.logo-sec::after {
    position: absolute;
    content: "";
    top:0;
    left:0;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:40%;
    height: 100%;
    z-index: 11;
}
.logo-sec::before {
    position: absolute;
    content: "";
    top:0;
    right:0;
    background: linear-gradient(270deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:40%;
    height: 100%;
    z-index: 11;
}

.imagecard:after{
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  left: 0;
  background: linear-gradient(360deg,rgba(10, 11, 12, 1) 0%, rgba(10, 11, 12, 0) 100%);
}
.subscrib-btn span{
  background-color: #22383D;
}

.cta-button:hover{
 border-color: #EC7823!important;
}
.cta-button:hover span{ background: #22383D;}
.cta-button.submit-button:hover {background: transparent!important;color: #EC7823!important;}
.cta-button.submit-button:hover span{ background: transparent!important; color: #EC7823!important;}

.dark .herobanner:after { background-color: rgb(17 24 39);}
.dark .logo-sec::before{ background: linear-gradient(270deg, rgb(17 24 39) 0%, rgba(255, 255, 255, 0) 100%);}
.dark .logo-sec::after{background: linear-gradient(90deg, rgb(17 24 39) 0%, rgba(255, 255, 255, 0) 100%);}

.dark .why-us {
  background-image: url(../src/assets/image/glob-dark-bg.jpg)!important;
}